Repository peikk0/dotfiles: changes, and which GitLab CI jobs are due for each by the changed paths.
All: vint, shellcheck

vint:
  stage: test
  image: alpine:3.17
  script:
  - apk add py3-setuptools vint
  - vint --color --warning .config/vim/vimrc .config/vim/*.vim

shellcheck:
  stage: test
  image: koalaman/shellcheck-alpine:v0.9.0
  script:
  ...

zsh: add an alias for yadm
  .zsh/inc/10-aliases.zsh
Due: none

zsh: add an alias for brew bundle
  .zsh/inc/10-aliases.zsh
Due: none

yadm/homebrew/vim: update bootstrap script to update the Homebrew bundle and always update the Vim plugins to latest
  .config/yadm/bootstrap
Due: shellcheck

yadm/vim: lint fixes
  .config/vim/vimrc
  .config/yadm/bootstrap
Due: vint, shellcheck

homebrew: re-add coreutils
  .config/homebrew/Brewfile
Due: none

yadm/vim: update the Vim plugins silently
  .config/yadm/bootstrap
Due: shellcheck

vim: remove old settings for removed plugin
  .config/vim/vimrc
Due: vint

zsh: set the alias for brew only on OSX
  .zsh/inc/10-aliases.zsh
Due: none

zsh: simplify the alias for homebrew
  .zsh/inc/10-aliases.zsh
Due: none

sh: move sh include files into ~/.config/sh/inc/
  .bashrc
  .config/sh/inc/00-env.sh
  .gitlab/ci.yml
  .profile
  .xsession
  .zlogin
  .zshenv
Due: shellcheck

zsh: move config into ~/.config/zsh/, switch from submodules to antidote for zsh plugins
  .config/sh/inc/00-env.sh
  .config/yadm/bootstrap
  .config/zsh/.zlogin
  .config/zsh/.zshenv
  .config/zsh/.zshrc
  .config/zsh/inc/00-opts.zsh
  .config/zsh/inc/05-antidote.zsh
  .config/zsh/inc/10-aliases.zsh
  .config/zsh/inc/10-keybindings.zsh
  .config/zsh/inc/10-osc7-cwd.zsh
  .config/zsh/inc/10-title.zsh
  .config/zsh/inc/15-completion.zsh
  .config/zsh/inc/20-fzf.zsh
  .config/zsh/inc/50-autosuggestions.zsh
  .config/zsh/inc/50-p10k.zsh
  .config/zsh/inc/50-syntax-highlighting.zsh
  .config/zsh/inc/50-vi-mode.zsh
  .config/zsh/inc/80-asdf.zsh
  .config/zsh/inc/80-gcloud.zsh
  .config/zsh/inc/80-goenv.zsh
  .config/zsh/inc/80-kube.zsh
  .config/zsh/inc/80-pyenv.zsh
  .config/zsh/inc/80-rbenv.zsh
  .config/zsh/inc/90-terraform.zsh
  .config/zsh/plugins.txt
  .gitmodules
  .zlogin
  .zsh/inc/20-fzf.zsh
  .zsh/inc/50-autosuggestions.zsh
  .zsh/inc/50-p10k.zsh
  .zsh/inc/50-syntax-highlighting.zsh
  .zsh/inc/50-vi-mode.zsh
Due: shellcheck

bash: move config into ~/.config/bash/
  .bash_profile
  .config/bash/bashrc
  .config/zsh/inc/10-aliases.zsh
Due: shellcheck

vim: install fzf into the regular plugin directory
  .config/vim/plugins.vim
  .config/vim/vimrc
Due: vint

x11: copy the Nord Xresources file instead of using a submodule
  .config/X11/Xresources
  .config/X11/nord.xresources
  .gitmodules
Due: none

ci: update shellcheck job for new bashrc location
  .gitlab/ci.yml
Due: none

x11: remove .xserverrc
  .xserverrc
Due: shellcheck

zsh: don't zcompile ~/.profile
  .config/zsh/.zlogin
Due: none

ci: fix shellcheck job after .xserverrc removal
  .gitlab/ci.yml
Due: none

yadm/zsh: create the .zshenv symlink using a yadm alternate file
  .config/yadm/alt/.zshenv##default
  .config/yadm/bootstrap
Due: shellcheck

sh: move .profile to ~/.config/sh/profile
  .config/bash/bashrc
  .config/sh/inc/00-env.sh
  .config/sh/profile
  .config/yadm/alt/.profile##default
  .config/yadm/alt/.zshenv##default
  .config/yadm/bootstrap
  .config/zsh/.zshenv
  .gitlab/ci.yml
  .xsession
Due: shellcheck

x11: move .xinitrc into ~/.config/X11/ and add alternate files for Linux only
  .config/X11/xsession
  .config/yadm/alt/.xinitrc##os.Linux
  .config/yadm/alt/.xsession##os.Linux
  .gitlab/ci.yml
  .xinitrc
Due: shellcheck

x11: fix Nord xresources file path
  .config/X11/Xresources
Due: none

x11: execute the xsession file with /bin/sh
  .config/yadm/alt/.xinitrc##os.Linux
  .config/yadm/alt/.xsession##os.Linux
Due: none

x11: use a .xsessionrc file instead of a .xsession shim
  .config/X11/xinitrc
  .config/X11/xsessionrc
  .config/sh/inc/00-env.sh
  .config/yadm/alt/.xsession##os.Linux
  .config/yadm/alt/.xsessionrc##os.Linux
Due: none

x11: move .xsession-errors out of sight
  .config/X11/xsession
Due: none

x11: don't launch gpg-agent if already running from systemd
  .config/X11/xsession
Due: none

gnupg: move GnuPG home to ~/.config/gnupg/
  .config/gnupg/gpg.conf
  .config/sh/inc/00-env.sh
Due: none

github: remove the README.md symlink for GitHub
  .github/README.md
Due: none

yadm: remove .gitignore file for .local/state/
  .local/state/.gitignore
Due: none

ssh: move SSH config to ~/.config/ssh/
  .config/ssh/00-all.conf
  .ssh/config
Due: none

ssh: move authorized SSH keys into individual files and build the file from them
  .config/ssh/authorized_keys/0x6B89BD60DEAB6C5E
  .config/ssh/authorized_keys/0x8D1C3224FAB5BA48
  .config/ssh/authorized_keys/helheim
  .config/ssh/authorized_keys/muspelheim
  .config/ssh/authorized_keys/myrkheim
  .config/ssh/authorized_keys/niflheim
  .config/ssh/authorized_keys/vanaheim
  .config/yadm/bootstrap
  .ssh/authorized_keys
Due: shellcheck

ssh: add alternate identity file locations
  .config/ssh/00-all.conf
Due: none

zsh: export GPG_TTY for GnuPG
  .config/zsh/inc/80-gnupg.zsh
Due: none

ssh: move .ssh/config to an alternate file
  .config/yadm/alt/.ssh/config##default
Due: none

sensible-browser: remove this old script, use the default one from Debian
  .local/bin/sensible-browser
Due: shellcheck

i3/rofi: remove old x-terminal-emulator script, use i3-sensible-terminal instead
  .config/X11/xsession
  .config/i3/config
  .config/rofi/config.rasi
  .gitlab/ci.yml
  .local/bin/x-terminal-emulator
Due: shellcheck

terminfo: remove terminfo files for rxvt-unicode and kitty
  .local/share/terminfo/72
  .local/share/terminfo/78
  .local/share/terminfo/r/rxvt-unicode
  .local/share/terminfo/r/rxvt-unicode-256color
  .local/share/terminfo/x/xterm-kitty
Due: none

tmux: install the modified terminfo file on OSX only
  .config/tmux/terminfo/tmux-256color
  .config/yadm/bootstrap
  .local/share/terminfo/74/tmux
  .local/share/terminfo/t
Due: shellcheck

yadm/tmux: fix bootstrap script for tmux terminfo file
  .config/yadm/bootstrap
Due: shellcheck

homebrew: install font-fira-code-nerd-font via homebrew
  .config/homebrew/Brewfile
Due: none

Path conditions:
  vint: any of: .config/vim/vimrc, .config/vim/*.vim
  shellcheck: any of: .bash_profile, .bashrc, .config/yabai/yabairc, .config/yadm/bootstrap, .local/bin/sensible-browser, .local/bin/x-terminal-emulator, .profile, .sh/inc/*.sh, .xserverrc, .xinitrc, .xsession
