Repository peikk0/dotfiles: changes, and which GitLab CI jobs are due for each by the changed paths.
All: vint, shellcheck, shfmt

vint:
  stage: test
  image: alpine:3.18
  script:
  - apk add py3-setuptools vint
  - vint --color --warning vim/vimrc vim/*.vim

shellcheck:
  stage: test
  image: koalaman/shellcheck-alpine:v0.9.0
  script:
  - "shellcheck \\\n    bash/bashrc \\\n    sh/profile \\\n    $(find sh/inc -type f -name '*.sh') \\\n    X11/xsession \\\n    X11/xsessionrc \\\n    yabai/yabairc \\\n    yadm/bootstrap\n"

shfmt:
  stage: test
  image: mvdan/shfmt:v3.7.0-alpine
  script:
  - "shfmt -d -l -i 2 -ci \\\n    bash/bashrc \\\n    sh/profile \\\n    $(find sh/inc -type f -name '*.sh') \\\n    X11/xsession \\\n    X11/xsessionrc \\\n    yabai/yabairc \\\n    yadm/bootstrap\n"

polybar: fix battery widget, change font to Monaspace
  polybar/config.ini
Due: none

X11: add Vivaldi as default browser, fix gnome-settings-daemon startup
  X11/xsessionrc
Due: shellcheck, shfmt

i3: change title font to Monaspace
  i3/config
Due: none

fish: add fish and starship config
  dir_colors
  fish/conf.d/direnv.fish
  fish/conf.d/mise-activate.fish
  fish/config.fish
  fish/fish_plugins
  fish/functions/direnv.fish
  fish/functions/goenv.fish
  fish/functions/kube-proxy-widget.fish
  fish/functions/kubectx.fish
  fish/functions/kx.fish
  fish/functions/mise.fish
  fish/functions/pyenv.fish
  fish/functions/rbenv.fish
  fish/functions/vault-login-widget.fish
  fish/functions/vault-proxy-widget.fish
  fzf/fzfrc
  homebrew/Brewfile
  sh/inc/00-env.sh
  starship.toml
  vim/vimrc
  yadm/bootstrap
  zsh/inc/10-aliases.zsh
  zsh/inc/20-fzf.zsh
Due: vint, shellcheck, shfmt

starship: fix extra whitespace in git status
  starship.toml
Due: none

fish/fzf: enable --tmux by default
  fish/config.fish
  fzf/fzfrc
Due: none

fish: rewrite kx function to be simpler and cleaner and not use kubectx
  fish/functions/kx.fish
Due: none

fish: change some aliases to abbreviations
  fish/config.fish
Due: none

fish: configure forgit log format and dir preview
  fish/config.fish
Due: none

chore(deps): update mvdan/shfmt docker tag to v3.9.0
  .gitlab/ci.yml
Due: none

starfish: remove custom icons for some dirs
  starship.toml
Due: none

homebrew: add aerospace, python-setuptools, and rename logi-options+
  homebrew/Brewfile
Due: none

git-delta: disable side-by-side diff
  git/config
Due: none

fish: use XDG-compliant dirs for teleport and tflint
  fish/config.fish
Due: none

homebrew: add obsidian
  homebrew/Brewfile
Due: none

fish, sh, zsh: set LESSCOLORIZER for lesspipe.sh
  fish/config.fish
  sh/inc/00-env.sh
Due: shellcheck, shfmt

chore(deps): update mvdan/shfmt docker tag to v3.10.0
  .gitlab/ci.yml
Due: none

chore(deps): update alpine docker tag to v3.21
  .gitlab/ci.yml
Due: none

btop: update config for last version
  btop/btop.conf
Due: none

homebrew: add mise, remove tfenv
  homebrew/Brewfile
Due: none

fish: use a static GOPATH with goenv
  fish/functions/goenv.fish
Due: none

zsh: replace fzf-tmux with fzf --tmux
  zsh/inc/20-fzf.zsh
  zsh/inc/80-kube.zsh
  zsh/inc/80-vault.zsh
Due: none

chore: add .gitignore
  .gitignore
Due: none

fish: remove hostname from window title
  fish/config.fish
Due: none

wezterm: enable custom block glyphs to fix alignment issues
  wezterm/wezterm.lua
Due: none

tmux: add and use custom Nord theme with round delimiters
  tmux/tmux.conf
Due: none

vim: customize airline symbols and use round delimiters
  vim/plugins.vim
  vim/vimrc
Due: vint

tmux: update window status format to highlight the window number
  tmux/tmux.conf
Due: none

starship: use only round separators
  starship.toml
Due: none

tmux: remove date and time from status bar
  tmux/tmux.conf
Due: none

vim: lint fixes
  vim/vimrc
Due: vint

vim: set scriptencoding
  vim/vimrc
Due: vint

aerospace: add aerospace config, remove yabai from Brewfile
  .gitignore
  aerospace/aerospace.toml
  homebrew/Brewfile
Due: none

aerospace: fix opening wezterm with alt-enter
  aerospace/aerospace.toml
Due: none

yabai: remove shkd and yabai configuration
  .gitlab/ci.yml
  skhd/skhdrc
  yabai/yabairc
Due: shellcheck, shfmt

dircolors, less, starship: move config files into subdirs
  dircolors/nord
  fish/config.fish
  less/key
  sh/inc/00-env.sh
  starship/config.toml
Due: shellcheck, shfmt

homebrew: remove unused tap
  homebrew/Brewfile
Due: none

wezterm: add a thin window border
  wezterm/wezterm.lua
Due: none

gtk: update theme name to Nordzy-dark
  gtk-2.0/gtkrc
  gtk-3.0/settings.ini
Due: none

fish, starship: workaround empty line when opening a new shell
  fish/config.fish
  starship/config.toml
Due: none

Path conditions:
  vint: any of: vim/vimrc, vim/*.vim
  shellcheck: any of: bash/bashrc, sh/profile, sh/inc/*.sh, X11/xsession, X11/xsessionrc, yabai/yabairc, yadm/bootstrap
  shfmt: any of: bash/bashrc, sh/profile, sh/inc/*.sh, X11/xsession, X11/xsessionrc, yabai/yabairc, yadm/bootstrap
