Repository peikk0/dotfiles: changes, and which GitLab CI jobs are due for each by the changed paths.
All: vint, shellcheck, shfmt

vint:
  stage: test
  image: alpine:3.18
  script:
  - apk add py3-setuptools vint
  - vint --color --warning vim/vimrc vim/*.vim

shellcheck:
  stage: test
  image: koalaman/shellcheck-alpine:v0.9.0
  script:
  - "shellcheck \\\n    bash/bashrc \\\n    sh/profile \\\n    $(find sh/inc -type f -name '*.sh') \\\n    X11/xsession \\\n    X11/xsessionrc \\\n    yabai/yabairc \\\n    yadm/bootstrap\n"

shfmt:
  stage: test
  image: mvdan/shfmt:v3.7.0-alpine
  script:
  - "shfmt -d -l -i 2 -ci \\\n    bash/bashrc \\\n    sh/profile \\\n    $(find sh/inc -type f -name '*.sh') \\\n    X11/xsession \\\n    X11/xsessionrc \\\n    yabai/yabairc \\\n    yadm/bootstrap\n"

term: remove alacritty, kitty and urxvt configuration
  .gitignore
  X11/Xresources
  X11/xsessionrc
  i3/compton.conf
  kitty/kitty.conf
  rxvt-unicode/perl/urxvt/clipboard
  vim/vimrc
  zsh/inc/10-keybindings.zsh
Due: vint, shellcheck, shfmt

dunst: refresh config for latest version
  dunst/dunstrc
Due: none

i3, polybar: reduce polybar height
  i3/config
  polybar/config.ini
Due: none

neofetch: remove config
  neofetch/config.conf
Due: none

fish: add and load zoxide
  fish/config.fish
  homebrew/Brewfile
Due: none

starship: enable all symbols and pipestatus in the status module
  starship/config.toml
Due: none

starship: remove extra space after command duration
  starship/config.toml
Due: none

fish: update Kubernetes icon in kx function
  fish/functions/kx.fish
Due: none

yadm: add basic bootstrapping for Debian
  yadm/bootstrap
Due: shellcheck, shfmt

yadm: add a few more Debian packages in bootstrap
  yadm/bootstrap
Due: shellcheck, shfmt

yadm: install symlinks for a few binaries when bootstrapping Debian
  yadm/bootstrap
Due: shellcheck, shfmt

fish: change default terminal title to 
  fish/config.fish
Due: none

wezterm: update tab title font
  wezterm/wezterm.lua
Due: none

yadm: linting fixes in bootstrap script
  yadm/bootstrap
Due: shellcheck, shfmt

git: update colours and short log format
  git/config
Due: none

git: update git oneline log colours and format
  git/config
Due: none

tmux, fzf: configure tmux popup style, switch to 24bit colours, enable native tmux borders in fzf
  fzf/fzfrc
  tmux/tmux.conf
Due: none

fish: add tf abbreviation for terraform, fix forgit log format
  fish/config.fish
Due: none

fish: update forgit fzf opts for log format and window size
  fish/config.fish
  fish/functions/kx.fish
Due: none

chore(deps): update mvdan/shfmt docker tag to v3.11.0
  .gitlab/ci.yml
Due: none

gitignore: update ignore for homebrew lockfile
  .gitignore
Due: none

fish: truncate commands in title
  fish/config.fish
Due: none

homebrew: replace alfred with raycast
  homebrew/Brewfile
Due: none

fish: enable native tmux borders in forgit
  fish/config.fish
Due: none

x11: change preferred browser back to Chrome
  X11/xsessionrc
Due: shellcheck, shfmt

fish: set FORGIT_COPY_CMD on Linux
  fish/config.fish
Due: none

ripgrep: unset max columns
  ripgrep/config
Due: none

polybar: remove old tray config, update web workspace icon
  polybar/config.ini
Due: none

wezterm: update ligatures for latest Monaspace
  wezterm/wezterm.lua
Due: none

chore(deps): update alpine docker tag to v3.22
  .gitlab/ci.yml
Due: none

i3: remove flameshot from startup
  i3/config
Due: none

x11: update polkit agent path
  X11/xsessionrc
Due: shellcheck, shfmt

x11: fix sourcing xsessionrc.local
  X11/xsessionrc
Due: shellcheck, shfmt

btop: update config for latest version
  btop/btop.conf
Due: none

fish: wider popup window for kx function
  fish/functions/kx.fish
Due: none

homebrew: remove deprecated or unused packages, move some others to local
  homebrew/Brewfile
Due: none

chore(deps): update mvdan/shfmt docker tag to v3.12.0
  .gitlab/ci.yml
Due: none

sh, fish: remove VIMINIT env variable, Vim 9.1 now supports XDG natively
  fish/config.fish
  sh/inc/00-env.sh
Due: shellcheck, shfmt

chore(deps): update koalaman/shellcheck-alpine docker tag to v0.11.0
  .gitlab/ci.yml
Due: none

fish: fix disabling vi cursors
  fish/config.fish
Due: none

Path conditions:
  vint: any of: vim/vimrc, vim/*.vim
  shellcheck: any of: bash/bashrc, sh/profile, sh/inc/*.sh, X11/xsession, X11/xsessionrc, yabai/yabairc, yadm/bootstrap
  shfmt: any of: bash/bashrc, sh/profile, sh/inc/*.sh, X11/xsession, X11/xsessionrc, yabai/yabairc, yadm/bootstrap
