Repository peikk0/dotfiles: changes, and which GitLab CI jobs are due for each by the changed paths.
All: vint, shellcheck

.gitlab/ci.yml:

---
stages:
  - test

include:
  - template: Security/Secret-Detection.gitlab-ci.yml

vint:
  stage: test
  image: alpine:3.17
  script:
    - apk add py3-setuptools vint
    - vint --color --warning vim/vimrc vim/*.vim
  rules:
    - changes:
        - vim/vimrc
        - vim/*.vim

shellcheck:
  stage: test
  image: koalaman/shellcheck-alpine:v0.9.0
  script:
    - |
      shellcheck \
          bash/bashrc \
          sh/profile \
          $(find sh/inc -type f -name '*.sh') \
          X11/xsession \
          yabai/yabairc \
          yadm/bootstrap
  rules:
    - changes:
        - bash/bashrc
        - sh/profile
        - sh/inc/*.sh
        - X11/xsession
        - X11/xsessionrc
        - yabai/yabairc
        - yadm/bootstrap

homebrew: install ipcalc
  homebrew/Brewfile
Due: none

zsh: update kubectx widget for Teleport at GitLab
  zsh/inc/80-kube.zsh
Due: none

zsh: call sed only once in kubectx widget
  zsh/inc/80-kube.zsh
Due: none

zsh: update p10k config for NerdFont v3
  zsh/inc/50-p10k.zsh
Due: none

vim: always enable concealing
  vim/vimrc
Due: vint

homebrew: add helm-docs
  homebrew/Brewfile
Due: none

chore(deps): update alpine docker tag to v3.18
  .gitlab/ci.yml
Due: none

homebrew: remove cask-drivers cask
  homebrew/Brewfile
Due: none

ssh: add vim modeline footer
  ssh/config.d/00-all.conf
Due: none

chore(renovate): enable semantic commits and add Renovate config validator job
  .gitlab/ci.yml
  .gitlab/renovate.json
Due: none

tmux: add tmux plugin manager and a couple tmux plugins
  tmux/tmux.conf
  yadm/bootstrap
Due: shellcheck

tmux: add tmux-fzf-url plugin and move plugins configuration to the top
  tmux/tmux.conf
Due: none

git/vim: add mergeconflicts plugin
  git/config
  vim/plugins.vim
Due: vint

git: set color for grafted commits in git log
  git/config
Due: none

tmux: resize tmux-fzf-url popup window
  tmux/tmux.conf
Due: none

chore(deps): update mvdan/shfmt docker tag to v3.7.0
  .gitlab/ci.yml
Due: none

x11: set Google Chrome as the preferred browser again
  X11/xsessionrc
Due: shellcheck

git: don't use nerd font symbols in git-delta config, they don't display properly
  git/config
Due: none

vim: add a spell+fzf key mapping
  vim/vimrc
Due: vint

homebrew: add markdownlint-cli
  homebrew/Brewfile
Due: none

vim: linting fixes
  vim/vimrc
Due: vint

polybar: use new tray module, fix/update battery module
  polybar/config.ini
Due: none

polybar: update color for full battery
  polybar/config.ini
Due: none

polybar: swap the cpu and memory icons
  polybar/config.ini
Due: none

polybar: add time to battery status
  polybar/config.ini
Due: none

vim/sh: update VIMINIT to not change MYVIMRC when running in neovim
  sh/inc/00-env.sh
Due: shellcheck

sh/vim: fix VIMINIT to load the default config file when running in neovim
  sh/inc/00-env.sh
Due: shellcheck

homebrew: remove homebrew/cask from taps as it's now included by default
  homebrew/Brewfile
Due: none

tmux: turn mouse support off
  tmux/tmux.conf
Due: none

zsh: add zle function for editing dotfiles
  zsh/inc/20-fzf.zsh
Due: none

homebrew: add logi-options-plus
  homebrew/Brewfile
Due: none

homebrew: add vlc
  homebrew/Brewfile
Due: none

tmux: replace tmux-fzf-url with junegunn's fork
  tmux/tmux.conf
Due: none

wezterm: enable background blur on OSX
  wezterm/wezterm.lua
Due: none

yabai: disable autofocus follow mouse
  yabai/yabairc
Due: shellcheck

vim: add rego syntax plugin
  vim/plugins.vim
  vim/vimrc
Due: vint

homebrew: add gitleaks
  homebrew/Brewfile
Due: none

homebrew, wezterm: install and use Monaspace fonts
  homebrew/Brewfile
  wezterm/wezterm.lua
Due: none

tmux: formatting fixes
  tmux/tmux.conf
Due: none

sh: use bat as man pager
  sh/inc/00-env.sh
Due: shellcheck
