Repository peikk0/dotfiles: changes, and which GitLab CI jobs are due for each by the changed paths.
All: vint, shellcheck

.gitlab/ci.yml:

---
stages:
  - test

include:
  - template: Security/Secret-Detection.gitlab-ci.yml

vint:
  stage: test
  image: alpine:3.17
  script:
    - apk add py3-setuptools vint
    - vint --color --warning vim/vimrc vim/*.vim
  rules:
    - changes:
        - vim/vimrc
        - vim/*.vim

shellcheck:
  stage: test
  image: koalaman/shellcheck-alpine:v0.9.0
  script:
    - |
      shellcheck \
          bash/bashrc \
          sh/profile \
          $(find sh/inc -type f -name '*.sh') \
          X11/xsession \
          yabai/yabairc \
          yadm/bootstrap
  rules:
    - changes:
        - bash/bashrc
        - sh/profile
        - sh/inc/*.sh
        - X11/xsession
        - X11/xsessionrc
        - yabai/yabairc
        - yadm/bootstrap

ci: add shfmt job
  .gitlab/ci.yml
Due: none

homebrew: install shfmt
  homebrew/Brewfile
Due: none

*.sh: fix formatting with shfmt
  X11/xsessionrc
  bash/bashrc
  sh/inc/00-env.sh
  yabai/yabairc
  yadm/bootstrap
Due: shellcheck

ci: fix shfmt image name
  .gitlab/ci.yml
Due: none

tmux: force support for strikethrough, underscore styles and overline
  tmux/tmux.conf
Due: none

vim: enable/force strikethrough/undercurl styles
  vim/vimrc
Due: vint

vim: configure the Markdown plugin
  vim/vimrc
Due: vint

git: customize git short log format again
  git/config
Due: none

vim: fix markdown plugin config
  vim/vimrc
Due: vint

zsh: set fzf border color
  zsh/inc/20-fzf.zsh
Due: none

wezterm: open hyperlinks with cmd+click
  wezterm/wezterm.lua
Due: none

homebrew: install Firefox
  homebrew/Brewfile
Due: none

ssh: auto-add SSH keys if present
  ssh/config.d/00-all.conf
Due: none

zsh: add a widget for spawning SOCKS5 proxies via SSH for kubectl
  zsh/inc/80-kube.zsh
Due: none

zsh: more robust TMUX detection in kube-proxy ZLE widget
  zsh/inc/80-kube.zsh
Due: none

zsh: a couple more fixes in kube-proxy ZLE widget
  zsh/inc/80-kube.zsh
Due: none

zsh: fix alignment
  zsh/inc/80-kube.zsh
Due: none

zsh: add more colors to the output of the kube-proxy ZLE widget
  zsh/inc/80-kube.zsh
Due: none

zsh: set fzf label color
  zsh/inc/20-fzf.zsh
Due: none

zsh: add variables and ZLE widgets for Vault
  zsh/inc/80-kube.zsh
  zsh/inc/80-vault.zsh
Due: none

vim: fix linting error
  vim/vimrc
Due: vint

homebrew: install more Noto fonts
  homebrew/Brewfile
Due: none

wezterm: move Noto Mono a bit higher in the font preference list, just after Fira Code/Mono
  wezterm/wezterm.lua
Due: none

wezterm: update tab font style
  wezterm/wezterm.lua
Due: none

i3: update i3 title bar font style
  i3/config
Due: none

homebrew/neofetch: install neofetch and add neofetch config
  homebrew/Brewfile
  neofetch/config.conf
Due: none

zsh: add some short aliases for git
  zsh/inc/10-aliases.zsh
Due: none

x11: use Firefox as preferred browser, enable XINPUT2 and EGL for Firefox
  X11/xsessionrc
Due: shellcheck

git: set colors for `git grep`
  git/config
Due: none

git: make tags blue in git log
  git/config
Due: none

i3: switch from i3bar to polybar
  i3/config
  polybar/config.ini
  polybar/launch.sh
Due: none

i3, polybar, dunst: more polybar changes
  dunst/dunstrc
  i3/config
  polybar/config.ini
Due: none

homebrew: add docker-buildx and less
  homebrew/Brewfile
Due: none

less: move less termcap config into lesskey file
  lesskey
  sh/inc/00-env.sh
Due: shellcheck

zsh: set kubectx colors only when calling it to avoid polluting the environment variables with control chars
  zsh/inc/80-kube.zsh
Due: none

sh: set XDG compliant paths for aws-cli config files
  sh/inc/00-env.sh
Due: shellcheck

vim: remove redundant grepprg
  vim/vimrc
Due: vint

zsh: update repository for nordtheme/dircolors
  zsh/inc/10-aliases.zsh
  zsh/plugins.txt
Due: none

vim: update repository URL for nordtheme/vim
  vim/plugins.vim
Due: vint

vim: install the nordtheme/vim plugin as 'nord' instead of 'vim'
  vim/plugins.vim
Due: vint
